:root {
  --azul: #4285f4;
  --verde: #34a853;
  --ambar: #fbbc05;
  --claro: rgb(238, 238, 238);
  --oscuro: rgb(27, 27, 27);
  --gris: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
