:root {
  --azul: #4285f4;
  --verde: #34a853;
  --ambar: #fbbc05;
  --claro: rgb(238, 238, 238);
  --oscuro: rgb(27, 27, 27);
  --gris: #555;
  --gris-muy-claro: rgb(243 243 243);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
}

#main-container #fb-posts {
  /* max-width: 400px;
  min-width: 300px; */
  order: 1;
}

#main-container #main-content {
  order: 2;
}
