.main-row{
    margin-top:10%;
    
    margin-right: auto;
}
article{
     align-content: center;
 }
.card{
    cursor:pointer;
}
.card-boby{
    background-color: #FBBC05;

}
.card .card-footer{
    visibility: hidden;
    transform: translateY(-100px);
    height: 0px;

}
.card:hover .card-footer{
    visibility: visible;
    transform: translateY(-10px);
    transition: 0.5s ease-in-out;
    height: auto;
}